<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="https://img.freepik.com/free-vector/cute-people-playing-laptop-cartoon-vector-icon-illustration-people-technology-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-4043.jpg?w=740&t=st=1702191108~exp=1702191708~hmac=f666397f5da169e72ee1843d7ccdbf5a6d949b86a5be5e99411bd3c81a8895ab"
        alt="profile-picture"
        class="img-thumbnail rounded-circle"
        width="100px"
      />
      <h1 class="display-4">Muhamad Randi Septiansah</h1>
      <div class="lead">Presiden</div>
    </div>
  </div>
</div>
